PORT=5000
MONGO_URI=mongodb+srv://dineshgaikwad0503_db_user:BudgetMonitor2026X9p7@budgetcluster.wxmww3j.mongodb.net/budget-monitor?retryWrites=true&w=majority&appName=BudgetCluster
JWT_SECRET=your_long_random_secret
JWT_EXPIRES_IN=8h
CLIENT_URL=http://localhost:4200